<%= form_with(model: [@restaurant, @menu]) do |form| %>

<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :photo_url %>
    <%= form.text_area :photo_url %>
  <img src=<%= @menu.photo_url %> width="100px" />
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<%end%>
