<section class="section">
  <div class="container">
    <h2 class='title is-2'>Bkk news</h2>
    <% @news.each do |n| %>
      <div class="block">
        <h3 class="title is-4"><a href="<%= n[2] %>" target="_blank"><%= n[0] %></a></h3>
        <p><%= n[1] %></p>
      </div>
    <% end %>
  </div>
</div>
</section>
<section class='section'>
  <div class="container">
    <h2 class='title is-2'>New York times News</h2>
    <% @nytnews.each do |n| %>
      <div class="block">
        <h3 class="title is-4"><a href="<%= n[2] %>" target="_blank"><%= n[0] %></a></h3>
        <p><%= n[1] %></p>
      </div>
    <% end %>
  </div>
</section>
