<%= form_with(model: @hotel) do |form| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, [["1 Star Restaurant",1], ["2 Star Restaurant", 2], ["3 Star Restaurant", 3], ["4 Star Restaurant", 4], ["5 Star Restaurant", 5]] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
