<p id="notice"><%= notice %></p>

<h1><strong>List of all Restaurants</strong></h1>

<table>
  <thead>
    <tr>
      <th><h2><strong>Name</strong></h2></th>
      <th><h2><strong>Description</strong></h2></th>
      <th><h2><strong>Address</strong></h2></th>
      <th><h2><strong>Owner</strong></h2></th>
      <th><h2><strong>Rating</strong></h2></th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><h3><%= hotel.name %></h3></td>
        <td><h3><%= hotel.description %></h3></td>
        <td><h3><%= hotel.address %></h3></td>
        <td><h3><%= hotel.owner %></h3></td>
        <td><h3><%= render_stars(hotel.rating) %></h3></td>
        <td><%= link_to 'Show / Give Review', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel', new_hotel_path %>
