<!DOCTYPE html>
<html>
  <head>
    <title>Ps1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title">Solutions</h1>
        </a>
      </div>
      <%# <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href='/'>
            All News
          </a>
        </div>
      </div> %>
    </nav>
    <section class="hero">
      <div class="hero-body">
        <p class="title">
          <%= @title %>
        </p>
      </div>
  <% if flash[:error] %>
    <div id="error">
    <%= flash[:error] %>
    </div>
  <% end %>
  <div id="container">
  <div id="user_status">
  <% if user_signed_in? %>
    Welcome <%= current_user.email %>! Not you?
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>.
   <% end %>
  </div>
</div>
    </section>
    <section class="section">
      <%= yield %>
    </section>
    <%= render "layouts/footer" %>
  </body>
</html>
